# virtual environment
rag-env/

# ChromaDB
chroma_db/

# registry and eval files
embedded_files.json
eval_results.json
eval_checkpoint.json

# API keys
.env

# Python cache
__pycache__/
*.pyc

# docs folder
docs/